Documentation/xml
Documentation/latex
Documentation/apple
.DS_Store
build/
*.pbxuser
*.mode1v3
*.perspectivev3
SuicideKit.xcodeproj/project.xcworkspace/xcuserdata/seuche.xcuserdatad/UserInterfaceState.xcuserstate
